*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--darkgray);
}

:root {
    /* Custom variables */
    --darkgray: #161616;
    --white: #ffffff;
    --black: #000;
    --shadow: 0px 0px 31px 8px rgba(0, 0, 0, 0.55);
    --figmashadow: 0px 4px 15px 15px rgba(0, 0, 0, 0.3);
    --radius: 20px;
    --headfont: 'pp_monument_extendedblack', sans-serif;
    --subfont: 'pp_monument_extendedregular', sans-serif;
    --textfont: 'pp_monument_extendedlight', sans-serif;
    --spacing: 1.5px;
}

main {
    color: var(--white);
    padding: 4rem 10rem;
    font-family: var(--textfont);
    letter-spacing: var(--spacing);
    margin: 0;
}

/* Grain background */
main::before {
    animation: grain 8s steps(10) infinite;
    background-image: url(img/noise.png);
    content: '';
    height: 300%;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    top: -100%;
    width: 300%;
    pointer-events: none;
    z-index: -1;
}

@keyframes grain {

    0%,
    100% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-5%, -10%);
    }

    20% {
        transform: translate(-15%, 5%);
    }

    30% {
        transform: translate(7%, -25%);
    }

    40% {
        transform: translate(-5%, 25%);
    }

    50% {
        transform: translate(-15%, 10%);
    }

    60% {
        transform: translate(15%, 0%);
    }

    70% {
        transform: translate(0%, 15%);
    }

    80% {
        transform: translate(3%, 35%);
    }

    90% {
        transform: translate(-10%, 10%);
    }
}

/* Button Style */
button {
    outline: none !important;
}

.slide_from_bottom {
    font-size: 1.5em;
    background: #000;
    color: #fff;
    border: 0;
    padding: 0.85em 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
}

.slide_from_bottom:hover {
    color: black;
}

.slide_from_bottom::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
}

button[class^="slide"]::after {
    transition: all 0.35s;
}

button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
}

button.slide_from_bottom::after {
    left: 0;
    right: 0;
    top: 100%;
    bottom: -100%;
}

.logo {
    width: 20%;
}

/* Search Bar */
.search-box {
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search {
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color: #fff;
    position: absolute;
    right: 75px;
}

.input-search::placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}

.search {
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none !important;
    cursor: pointer;
    border-radius: 50%;
    right: 15px;
    color: var(--white);
    background-color: transparent;
    pointer-events: painted;
}

.search:focus~.input-search {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    outline: none;
}

.input-search:focus {
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* Sliding Menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: var(--headfont);
    background-color: rgba(22, 22, 22, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 56px;
    color: #818181;
    display: block;
    transition: 0.3s;
    letter-spacing: var(--spacing);
    text-transform: uppercase;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    font-family: var(--textfont);
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}


/* Index images */
.album{
    width: 50%;
    box-shadow: var(--figmashadow);
    border-radius: var(--radius);
    transition: transform .7s; /* Animation */
    cursor: pointer;
}

.album:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Card styling */
.card{
    width: 100%;
    box-shadow: var(--figmashadow);
}

/* Index styling */
.search-artist{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar{
    padding: 0;
}

.play{
    text-decoration: none;
    color: #818181;
}

.play:hover{
    text-decoration: none;
    color: var(--white);
}

.form{
    background-color: #1D1F21;
    z-index: 1;
    padding: 2rem;
}

h4{
    font-size: 18px;
}

/* Different screens responsiveness */
/* Medium size */
@media only screen and (max-width:1024px){
    main{
        padding: 80px;
    }

    main nav{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .logo{
        width: 50%;
        margin-top: 30px;
    }

    .search-artist {
        justify-content: space-between;
        width: 100%;
    }
    
    .input-search{
        right: 0;
        left: 75px;
    }
}
/* Small Size */
@media only screen and (max-width:650px){
    .logo{
        width: 100%;
        margin-top: 30px;
    }

    main{
        padding: 2rem;
    }

    .search-artist{
        flex-direction: column-reverse;
    }

    .search-results{
        padding: 0;
    }
    .result--section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-search{
        position: relative;
        left: 0;
    }

    .table{
        font-size: 11px;
    }

    .table td, .table th{
        padding: 0.35rem;
    }

    .overlay-content a{
        font-size: 32px;
    }

    .form{
        padding: 10px
    }

    .flexed{
        flex-direction: column;
    }

    .col-6{
        max-width: 100%;
    }

    h2{
        font-size: 24px;
    }

    .card-deets{
        flex-basis: auto;
    }

    
}

/* Cart styling */
.content-section{
    display: flex;
    flex-direction: column;
}

.cart-row {
    display: flex;
    justify-content: space-between;
}

.cart-item {
    width: 45%;
}
.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--white);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: var(--white);
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: var(--darkgray);
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: var(--darkgray);
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid var(--white);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: var(--white);
    margin-right: 20px;
}

.cart-total-price {
    color: var(--white);
    font-size: 1.1em;
}